# Application
PORT=3000

# MySQL / Aiven Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=btgk_db
DB_SYNCHRONIZE=true

# JWT
JWT_SECRET=change_this_to_a_strong_secret_key
JWT_EXPIRES_IN=3600
